@import url("https://fonts.googleapis.com/css?family=Lora | Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");


body{
	font-family: 'Lora', serif;
	font-size: 18px
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
a{
	text-decoration: none;
}
.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
	opacity: 0.8;
}
linear-gradient(angle, start_color start_point, end_color end_point)
  .banner {
  background-image:
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
    url('images/background.jpg');
}